<h1>Listing <%=current_model.name.pluralize%></h1>

<table>
  <tr>
	<%current_model.content_columns.each do |col| %>
		<th><%=col.human_name%>
	<%end%>
  </tr>

<% for object in current_objects %>
  <tr>
	<%current_model.content_columns.each do |col| %>
		<td><%=h object.send(col.name)%></td>
	<%end%>
    <td><%= link_to 'Show', object %></td>
    <td><%= link_to 'Edit', url_for(:action => 'edit', :id => object) %></td>
    <td><%= link_to 'Destroy', object, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "New #{current_model.name}", url_for(:action => 'new') %>
